h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 230101142-03. Verificar la estructura funcional de la empresa asociativa frente a las normas legales vigentes, las tendencias administrativas sostenibles y las políticas organizacionales.






