.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Asociación: 
            | se conforman por un grupo de personas que comparten un interés común.
        hr

        p
            strong.mr-2 Corporación: 
            | unión de entes jurídicos que se vinculan con un aporte de dinero.

        hr

        p
            strong.mr-2 Fundación: 
            | persona o grupo de personas que se unen para cumplir un objetivo social.

        hr

        p
            strong.mr-2 Voluntariado: 
            | grupo de personas de carácter civil y voluntario para realizar actividades. 

        hr

        p
            strong.mr-2 Voluntario: 
            | persona libre y responsable de realizar una actividad sin nada a cambio para un bien común.