.container#page-introduccion

    .header-ecored
        h1 Introducción


    .jumbotron.bg-white

        p.text-center
            img(src="assets/images/pages/intro/intro_ws.jpg").img-fluid

        p.mt-5 En este material de formación se estudiarán los diferentes tipos de organizaciones solidarias de desarrollo, que a través de personas y entes jurídicos se forman asociativamente, permitiendo que las comunidades y los territorios se integren para el desarrollo económico del país. Así mismo, se reconocerán las organizaciones del sector solidario, cuyo propósito es el trabajo colectivo y la participación ciudadana, realizando un aporte al sector económico en el país.
