.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Cartilla sobre Asociaciones, Corporaciones, Fundaciones y Redes de Voluntariado  
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA3_MC1_Cartilla.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material

                tr
                    td Plan Nacional de Fomento a la Economía Solidaria y Cooperativa Rural -Planfes- 2017-2032
                    td Publicación en PDF
                    td 
                        a(href="media/documentos/AA3_MC2_PLANFES_2017_2032.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver material